<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--disable edi-->
    <!--<add key="BtsPortal_EnableEdi" value="false" />-->

    <add key="BtsPortal_Edi_HomeOrgName" value="IA" />
    <add key="BtsPortal_PageSize" value="50" />

  </appSettings>
  <connectionStrings>
    <add name="EsbExceptionDbConnection" connectionString="Server=.;Database=EsbExceptionDb;Trusted_Connection=True;" />
    <add name="BtsMsgBoxDatabaseConnection" connectionString="Server=.;Database=BizTalkMsgBoxDb;Trusted_Connection=True;" />
    <add name="BtsMgmtBoxDatabaseConnection" connectionString="Server=.;Database=BizTalkMgmtDb;Trusted_Connection=True;" />
    <add name="SsoDbConnection" connectionString="Server=.;Database=SSODB;Trusted_Connection=True;" />
    <add name="BamDbConnection" connectionString="Server=.;Database=BAMPrimaryImport;Trusted_Connection=True;" />
    <add name="BtsPortalDbConnection" connectionString="Server=.;Database=BtsPortal;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>