@model List<BtsPortal.Entities.Bts.BtsApplication>
<h3>
    Applications
    &nbsp;&nbsp;
    <a class="btn btn-sm btn-primary" href="#" onclick="loadApplicationStatus()"><i class="fa fa-refresh fa-fw" aria-hidden="true"></i>&nbsp; Refresh</a>
</h3>

<div class="container pull-left" style="width:90%">

    @if (@ViewBag.error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.error
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            @Html.DropDownList("apps", (List<SelectListItem>)ViewBag.apps, new { @class = "form-control input-sm", @onchange = "loadApplicationStatus()", id = "appList", data_url = @Url.Action("ApplicationStatus", "Dashboard") })
        </div>

    </div>
    <div class="row">
        <div class="col-md-12" id="appData">

        </div>

    </div>
</div>
